<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
<a href="/signout"><button>signout</button></a>
<h> home you are in  </h>
<div>
   <form method="POST" action="/home">
            <label>Type the quote </label>
            <input type="text" name="quote"><br>
            <label>who said</label>
            <input type="text" name="speaker"><br>
            <button method='POST'>Submit quote</button>
        </form>
</form>
</div>
</body>
</html>