<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
</head>
<body>
	<form action="/" method="POST">
        <label for="email">Enter your email:</label>
        <input type="text" id="email" name="email" placeholder="Email" required>
        <label for="password">Enter your passworda:</label>
        <input type="text" id="password" name="password" placeholder="password" required>
        <a><button href="home.html">sign in </button> </a>
    </form>
</body>
</html>